<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部配置文件，driver、url、username、password什么的可以写在配置文件里，不用每次都写在这下面了-->
    <properties resource="db.properties"></properties>
    
    <typeAliases>
        <package name="com.wt.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--注意注册的路径不是用.而是用/-->
        <mapper resource="com/wt/mapper/StudentMapper.xml"/>
        <mapper resource="com/wt/mapper/TeacherMapper.xml"/>
    </mappers>
</configuration>